$header-height-large: 61.6px;
$header-height-small: 59.2px;
$light-color: rgba(233, 233, 233, 1);
$light-color-oppacity: rgba(233, 233, 233, 0.8);
$light-gardient-color: rgba(199, 231, 255, 1);
$dark-color: rgba(39, 41, 43, 1);
$dark-color-oppacity: rgba(39, 41, 43, 0.8);
$buttons-color: rgba(0, 148, 255, 1);
$shadow-color: rgba(39, 41, 43, 0.25);
$padding-row-one: 60px;
$padding-row-two: 20px;
$big-text-size: 30px;
$extralarge-text-size: 50px;
$large-text-size: 36px;
$big-text-size: 30px;
$medium-text-size: 24px;
$small-text-size: 18px;
$little-text-size: 16px;
$big-radius: 10px;
$small-radius: 5px;
$warning-color: rgba(225, 81, 81, 1);